<div class="box">    
    <h3>My Blog</h3>
    <ul class="post-list">
    {% for post in site.categories.blog limit:5 %}
      <li>
        <a class="post-link" href="{{ post.url | prepend: site.baseurl }}"{% if post.lang != null %} lang="{{ post.lang }}"{% endif %}>{{ post.title }}</a>
      </li>
    {% endfor %}
    </ul>    
</div>

<div class="box">    
    <h3>Respects</h3>    
    <a href="https://plus.google.com/communities/113782579160655007812">+GDG Düsseldorf</a>   
</div>

<div class="box follow-buttons">
    <h3>Get Updates</h3>
    <a class="twitter-follow-button" href="https://twitter.com/johanbove" title="Twitter">@johanbove</a>
    <a class="googleplus-follow-button" href="//plus.google.com/u/0/114229813947703613217?prsrc=3" title="Google+">+JohanBové</a>
</div>