/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
    margin: 0;
    padding: 0;
}



/**
 * Basic styling
 */
body {
    // http://lea.verou.me/css3patterns/#carbon
    // by http://www.zencocoon.com Atle Mo (design), Sébastien Grosjean (code)
    /*
    background:
    linear-gradient(27deg, #151515 5px, transparent 5px) 0 5px,
    linear-gradient(207deg, #151515 5px, transparent 5px) 10px 0px,
    linear-gradient(27deg, #222 5px, transparent 5px) 0px 10px,
    linear-gradient(207deg, #222 5px, transparent 5px) 10px 5px,
    linear-gradient(90deg, #1b1b1b 10px, transparent 10px),
    linear-gradient(#1d1d1d 25%, #1a1a1a 25%, #1a1a1a 50%, transparent 50%, transparent 75%, #242424 75%, #242424);
    background-color: $background-color;
    background-size: 100px 200px;
    */
    
    // Using Twitter as CDN ...
    background-image: url(https://pbs.twimg.com/profile_background_images/704796077/5e0ef0d2229a91b4229abf1f52ba232f.jpeg);
    background-position: center 40px;
    background-attachment: fixed;
    background-repeat: repeat;
    background-color: #0E0D02;
    
    color: $text-color;
    font-family: $base-font-family;
    font-size: $base-font-size;
    font-weight: 300;
    line-height: $base-line-height;
    position: relative;
}



/**
 * Set `margin-bottom` to maintain vertycal rhythm
 */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
%vertical-rhythm {
    margin-bottom: $spacing-unit / 2;
}



/**
 * Images
 */
img {
    max-width: 100%;
    vertical-align: middle;
}

/**
 * Figures
 */
figure > img {
    display: block;
}

figcaption {
    font-size: $small-font-size;
}



/**
 * Lists
 */
ul, ol {
    margin-left: $spacing-unit;
}

li {
    > ul,
    > ol {
         margin-bottom: 0;
    }
}



/**
 * Headings
 */
h1, h2, h3 {
    font-weight: 400;
}

h4, h5, h6 {
    font-weight: 300;
}

/**
 * Formatting
 */
strong {
    font-weight: 600;
}

/**
 * Links
 */
a {

    color: rgba(243, 243, 152, 0.95);
    
    &:visited {
        color: rgba(243, 243, 152, 0.95);
    }
    
    &:hover, &:focus {
        color: rgba(255, 255, 255, 1);
    }
    
}

/**
 * Blockquotes
 */
blockquote {
    border-left: 1px solid rgba(0, 0, 0, 0.95);
    color: $grey-color-light;
    font-style: italic;
    font-size: 18px;
    padding-left: $spacing-unit / 2;
    > :last-child {
        margin-bottom: $spacing-unit;
    }
    @include transition(all 1s ease);
    &:hover {
        border-left: 1px solid rgba(243, 243, 152, 0.95);
    }
}

/**
 * Code formatting
 */
pre,
code {
    background-color: rgba(0,0,0,0.5);
    border: 1px solid $grey-color-dark;
    border-radius: 3px;
    font-size: smaller;
    line-height: 1;
}

code {
    padding: 1px 5px;
}

pre {
    padding: 8px 12px;
    overflow-x: auto;

    > code {
        border: 0;
        padding-right: 0;
        padding-left: 0;
    }
}

/**
 * Table
 */
th {
    font-weight: 600;
    color: darken($text-color, 40%);
}

td {
    vertical-align: top;
}

/**
 * Wrapper
 */
.wrapper {
    max-width: -webkit-calc(800px - (#{$spacing-unit} * 2));
    max-width:         calc(800px - (#{$spacing-unit} * 2));
    margin-right: auto;
    margin-left: auto;
    padding-right: $spacing-unit;
    padding-left: $spacing-unit;
    @extend %clearfix;

    @include media-query($on-laptop) {
        max-width: -webkit-calc(800px - (#{$spacing-unit}));
        max-width:         calc(800px - (#{$spacing-unit}));
        padding-right: $spacing-unit / 2;
        padding-left: $spacing-unit / 2;
    }
}



/**
 * Clearfix
 */
%clearfix {

    &:after {
        content: "";
        clear: both;
        display: table;
    }
}



/**
 * Icons
 */
.icon {

    > svg {
        display: inline-block;
        height: 16px;
        vertical-align: middle;
        width: 16px;

        path {
            fill: $grey-color;
        }
    }
}
