/**
 *  Page filling background image
 */
.background {
    background-color: $background-color;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center bottom;
    height: 100%;
    display: block;
    left: 0;
    opacity: 0;    // Will be set to .25 using JS on load
    position: fixed;
    top: 0;
    width: 100%;
    
    @include transition(all 5s ease .2s);
    
    &.ready {
        opacity: .25;
        @include transform(scale(1.5));
    }
    
}

.wrapper {
    position:  relative;
}

/**
 * Site header
 */
.site-header {
    margin-top:  $spacing-unit;
}

.site-title {
    @include transition(all 2s);
    border: none;
    color: rgba(255,255,255,1);
    float: left;
    font-size: 26px;
    line-height: $spacing-unit;
    letter-spacing: -1px;
    margin-bottom: 0;
    text-decoration: none;
    text-shadow: white 1px 1px 10px;
    
    &:focus, &:hover {
        color:  rgba(255,255,255,1);
        text-shadow: none;
    }
    
    &:visited {
        color: $text-color;
    }

     @include media-query($on-laptop) {
        max-width: 50%;
    }
    
}

.site-nav {
    clear: both;
    float: left;
    margin: 15px 0 0 0;

    .menu-icon {
        display: none;
    }

    .page-link {
        border-bottom: 2px solid #fff;
        color: $text-color;
        font-weight: bold;
        line-height: $base-line-height;
        text-decoration: none;

        // Gaps between nav items, but not on the first one
        &:not(:first-child) {
            margin-left: 20px;
        }
    }

    @include media-query($on-palm) {
        background-color: $background-color;
        border: 1px solid $grey-color-light;
        border-radius: 5px;
        position: absolute;
        right: 30px;
        text-align: right;
        top: 9px;
        z-index: 1;
        
        .menu-icon {
            display: block;
            float: right;
            height: 26px;
            line-height: 0;
            padding-top: 10px;
            text-align: center;
            width: 36px;

            > svg {
                height: 15px;
                width: 18px;

                path {
                    fill: $grey-color-dark;
                }
            }
        }

        .trigger {
            clear: both;
            display: none;
        }

        &:hover .trigger {
            display: block;
            padding-bottom: 5px;
        }

        .page-link {
            display: block;
            padding: 5px 10px;
        }
    }
    
    @include media-query($on-palm) {
        .page-link {
            border: none;
        }
    }
    
}

/**
 * Avatar
 */
.avatar {
    border: 5px solid rgba(0, 0, 0, .1);
    border-radius: $spacing-unit * 2;
    float: right;
    margin: $spacing-unit;
    overflow: hidden;
    width: 100px;
    
     @include media-query($on-laptop) {
        float: none;
        margin: $spacing-unit auto;
    }
    
} 

/**
 * Site footer
 */
.site-footer {
    padding: $spacing-unit 0;
    text-align: center;
}

.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.footer-col-wrapper {
    color: $grey-color;
    font-size: 15px;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.footer-col-1 {
    width: -webkit-calc(35% - (#{$spacing-unit} / 2));
    width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(20% - (#{$spacing-unit} / 2));
    width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
    width: -webkit-calc(45% - (#{$spacing-unit} / 2));
    width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }

    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}



/**
 * Page content
 */
.page-content {
    
    padding: $spacing-unit 0;
    
    section {
        position: relative;
    }
    
    section > h3 {
        margin-top: $spacing-unit;
    }
    
}

.page-heading {
    font-size: 20px;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        clear: both;
        display: block;
        float: left;
        margin-bottom: $spacing-unit / 3;
        width: 100%;
    }
    
    .post-meta {
        color: $grey-color;
        font-size: $small-font-size;
        float: left;
        width: inherit;
    }

    .post-link {
        display: block;
        float: left;
        margin-left: $spacing-unit / 2;
        width: inherit;
        border: none;
        &:hover {
            border: none;
        }
    }
    
}

*[role="projects"] .post-list {
    margin-left: 0;
    p {
        font-style: italic;
    }
    .post-link {
        margin-left: 0;
        padding: 0 0 $spacing-unit / 2 0;
    }
}

/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 38px;
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
    margin-bottom: $spacing-unit;

    h1 {
        font-size: 26px;
    }
    
    h2 {
        font-size: 24px;

        @include media-query($on-laptop) {
            font-size: 23px;
        }
    }

    * + h2 {
        margin-top: $spacing-unit;   
    }
    
    h3 {
        font-size: 23px;

        @include media-query($on-laptop) {
            font-size: 21px;
        }
    }

    * + h3 {
        margin-top: $spacing-unit;   
    }
    
    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
    
    p + h2 {
        margin-top: $spacing-unit;
    }
    
    img {
        opacity: .75;
        @include transition(opacity .5s);
        &:hover {
            opacity: 1;
        }
    }
    
    li {
        margin-top: $spacing-unit / 3;
    }
    
    * + blockquote {
        margin-top: $spacing-unit;
    }
    
}

.post-list {
    h2 {
        font-size: 18px;
        float: left;
        margin: 0;
        width: inherit;
        .post-link {
            font-size: 18px;
            @include media-query($on-palm) {
                clear: left;
                margin-left: 0;
            }
        }
    }
}

.rss-subscribe {
    clear: both;
    font-size: smaller;
    text-align: right;
}

/**
 * Links
 */
.page-content a,
.site-footer a {
    @include transition(all 0.3s linear);
    border-bottom: 2px ridge rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    text-decoration: none;
    opacity: 0.95;
    padding: 2px 4px;
    
    &:hover {
        border-bottom: 2px ridge rgba(243, 243, 152, 1);
        opacity: 1;
    }
    
}

.social-links {
    p {
        margin-bottom: 0;
        @include media-query($on-palm) {
            margin-bottom: $spacing-unit / 3;
        }
    }
    a {
        display:inline-block;
        margin: $spacing-unit / 3 $spacing-unit / 2;
    }
}

.credits {
    font-style: italic;
    font-size: smaller;
    margin-top: $spacing-unit;
}

.site-footer .credits a {
    padding: 5px;
    margin: 5px;
}
