---
layout: default
---
<div class="post post-article"{% if page.lang != null %} lang="{{ page.lang }}"{% endif %}>
  <section role="main" class="h-entry">
    <header class="post-header">
      <h1 class="post-title p-name">{{ page.title }}</h1>
        <p class="post-meta">
          <span>Published</span> <a href="{{ page.url }}" class="u-url"><time class="dt-published" datetime="{{ page.date | date: "%Y-%m-%dT%H:%M:%S%z" }}">{{ page.date | date: "%b %d, %Y" }}</time></a>
          <span>in</span>
          {% for category in page.categories %}
          <a href="{{ category | prepend: site.baseurl | prepend: '/' }}" class="link-to-category p-category">{{ category }}</a>
          {% endfor %}
          {% if page.author %} by <a class="p-author h-card" href="https://johanbove.info">{{ page.author }}</a>{% endif %}
          {% if page.meta %} ({{ page.meta }}){% endif %}
        </p>
    </header>
    <article class="post-content article e-content">
      {{ content }}
    </article>
    <div class="post-comments">
      {% include feedback-twitter.html %}
    </div>
    {% include subscribe-rss.html %}
  </section>
</div>
